{% from "_formhelpers.html" import render_field %} {% extends "base.html" %} {%
block content %}
<section id="user_register">
	<div class="container my-5">
		<div class="col-lg-4 mx-auto">
			<div class="card bg-primary text-center">
				<div class="card-body text-light">
					<h2>ユーザー登録</h2>
					<p>ユーザー情報を入力してください。</p>

					<!-- ユーザー名入力 -->
					<form method="POST">
						{{ form.hidden_tag() }}
						<div class="mb-3">
							{{ render_field(form.username, placeholder="ユーザー名",
							class_="form-control form-control-lg") }}
						</div>

						<!-- メールアドレス入力 -->
						<div class="mb-3">
							{{ render_field(form.email,
							placeholder="メールアドレス", class_="form-control form-control-lg")
							}}
						</div>

						<!-- パスワード入力 -->
						<div class="mb-3">
							{{ render_field(form.password,
							placeholder="パスワード", class_="form-control form-control-lg") }}
						</div>

						<!-- パスワード入力(確認用) -->
						<div class="mb-3">
							{{ render_field(form.pass_confirm,
							placeholder="パスワード(確認)", class_="form-control form-control-lg") }}
						</div>

						<!-- 登録ボタン -->
						{{ form.submit(class="btn btn-outline w-100") }}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
